<footer>
    <div class="wrap">
        <div class="ftop">
            <div class="fbrand">
                <div class="wordmark" role="img" aria-label="{{@site.title}}"></div>
                <p>{{@custom.footer_tagline}}</p>
            </div>
            <div class="fcols">
                <div>
                    <h5>Read</h5>
                    <a href="{{@site.url}}">Blog</a>
                    <a href="{{@site.url}}/tag/player-ratings/">Player Ratings</a>
                    <a href="{{@site.url}}/tag/rifc-101/">RIFC 101</a>
                    <a href="{{@site.url}}/tag/offseason-tracker/">Offseason Tracker</a>
                </div>
                <div>
                    <h5>Listen</h5>
                    <a href="#">Apple Podcasts</a>
                    <a href="#">Spotify</a>
                    <a href="#">YouTube</a>
                </div>
                <div>
                    <h5>More</h5>
                    <a href="{{@site.url}}/about/">About</a>
                    <a href="#">Store</a>
                    <a href="{{@site.url}}/contact/">Contact</a>
                </div>
            </div>
        </div>
        <div class="fbot">
            <span>&copy; {{date format="YYYY"}} {{@site.title}}</span>
            <span>Instagram &middot; X &middot; YouTube &middot; Spotify</span>
        </div>
    </div>
</footer>
