<a class="pcard" href="{{url}}">
    <div class="thumb" style="background-image:url({{img_url feature_image size="m"}})"></div>
    <div class="b">
        <div class="k">{{#if primary_tag}}{{primary_tag.name}}{{else}}Latest{{/if}}</div>
        <h3>{{title}}</h3>
        <div class="m">{{primary_author.name}} &middot; {{date format="MMM D, YYYY"}}</div>
    </div>
</a>
