<div class="scarf">
    <div class="track">
        {{#get "posts" limit="4" as |ticks|}}
            {{#foreach ticks}}<span class="star">&#10022;</span><span><b>{{#if featured}}&#9733; {{/if}}{{title}}</b></span>{{/foreach}}
            {{#foreach ticks}}<span class="star">&#10022;</span><span><b>{{#if featured}}&#9733; {{/if}}{{title}}</b></span>{{/foreach}}
        {{else}}
            <span class="star">&#10022;</span><span><b>{{@custom.ticker_tagline}}</b></span><span class="t">&#9670;</span><span><b>{{@site.title}}</b></span>
            <span class="star">&#10022;</span><span><b>{{@custom.ticker_tagline}}</b></span><span class="t">&#9670;</span><span><b>{{@site.title}}</b></span>
        {{/get}}
    </div>
</div>
