<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>

    {{!-- Fonts are self-hosted (see @font-face in screen.css); preload the two latin files used above the fold. --}}
    <link rel="preload" href="{{asset "fonts/libre-franklin-var-latin.woff2"}}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{asset "fonts/eb-garamond-var-latin.woff2"}}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">

    {{!-- Entity/News schema: tells Google "Tide Talk" is a news org covering RIFC, with these socials. --}}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsMediaOrganization",
        "name": "Tide Talk",
        "alternateName": ["Tide Talk RI", "Tide Talk Rhode Island FC"],
        "url": "{{@site.url}}/",
        "logo": "{{@site.logo}}",
        "description": "Independent, fan-run news, analysis and podcast coverage of Rhode Island FC (RIFC), the USL Championship soccer club in Rhode Island.",
        "knowsAbout": ["Rhode Island FC", "RIFC", "USL Championship soccer", "Soccer in Rhode Island"],
        "sameAs": [
            "https://www.instagram.com/tidetalkri/",
            "https://twitter.com/TideTalkRI",
            "https://www.youtube.com/@TideTalkRI",
            "https://open.spotify.com/show/0P3cNx3nSFLcu6Xr095I4G",
            "https://www.facebook.com/profile.php?id=61556290666031"
        ]
    }
    </script>

    {{!-- Social-share tags (og:image, twitter:card, etc.) come from {{ghost_head}}:
    the Publication cover is the site-wide default; posts use their own feature image. --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="page">

    {{> ticker}}
    {{> header}}

    <main class="site-main">
        {{{body}}}
    </main>

    {{> footer}}

</div>

{{ghost_foot}}
<script type="text/javascript" src="{{asset "js/main.js"}}"></script>
</body>
</html>
