<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">

    {{!-- Social-share tags (og:image, twitter:card, etc.) come from {{ghost_head}}:
    the Publication cover is the site-wide default; posts use their own feature image. --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="page">

    {{> ticker}}
    {{> header}}

    <main class="site-main">
        {{{body}}}
    </main>

    {{> footer}}

</div>

{{ghost_foot}}
<script type="text/javascript" src="{{asset "js/main.js"}}"></script>
</body>
</html>
