{{!< default}}

{{#post}}
<article class="artpage">
    {{#if @page.show_title_and_feature_image}}
        <div class="artwrap">
            <div class="crumb">&#10022; {{@site.title}}</div>
            <h1 class="arttitle">{{title}}</h1>
        </div>
        {{#if feature_image}}
            <div class="artwrap">
                <figure class="feature-img"><div class="fi"><img src="{{img_url feature_image size="l"}}" srcset="{{img_url feature_image size="m"}} 750w, {{img_url feature_image size="l"}} 1200w" sizes="(max-width: 760px) 94vw, 700px" alt="{{title}}" fetchpriority="high"></div></figure>
            </div>
        {{/if}}
    {{/if}}
    <div class="artwrap prose">
        {{content}}
    </div>
</article>
{{/post}}

{{> newsletter}}
